<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">


    <bean id="loginAction" class="com.runfeng.struts.LoginAction"
        scope="prototype">
        <property name="vps" ref="validPasswordService"/>
    </bean>
    <bean id="validPasswordService" class="com.runfeng.spring.service.ValidPasswordService"/>

    <bean id="ManageAction" class="com.runfeng.struts.ManageAction">

    </bean>
</beans>