<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- loginAction -->
    <bean id="loginAction" class="com.runfeng.struts.LoginAction"
        scope="request">
        <property name="vps" ref="vps"/>
    </bean>
    <!--<bean id="actionContext" class="com.opensymphony.xwork2.ActionContext" factory-method="getContext"/>-->
    <bean id="vps" class="com.runfeng.spring.service.ValidPasswordService"/>
    
    <!-- ManageAction -->
    <bean id="ManageAction" class="com.runfeng.struts.ManageAction" scope="session"/>
    <bean id="SalaryTableAction" class="com.runfeng.struts.SalaryTableAction" scope="session"/>
    <bean id="InfoTableAction" class="com.runfeng.struts.InfoTableAction" scope="session"/>


</beans>