<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="axe" class="com.runfeng.spring.test.StoneAxe"/>
    <bean id="steelAxe" class="com.runfeng.spring.test.SteelAxe"/>
    <bean id="win" class="javax.swing.JFrame"/>
    <bean id="date" class="java.util.Date"/>
</beans>